# This file is part of https://github.com/random-archer/mkinitcpio-systemd-tool

# Configure FRP Client in the initramfs

[Unit]
Description=Initrd FRPC Service
Documentation=https://github.com/random-archer/mkinitcpio-systemd-tool/blob/master/README.md
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
After=initrd-network-online.target
Requires=initrd-network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/frpc -c /etc/frp/%i.ini
ExecReload=/usr/bin/frpc reload -c /etc/frp/%i.ini
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=sysinit.target

[X-SystemdTool]
# Configuration
InitrdPath=/etc/frp/%i.ini
InitrdBinary=/usr/bin/frpc
